<%- include('partials/header') %>
<header>
	<div class="work">
		<img src="/work.png" alt="work" />
	</div>
	<div class="heading">
		<h2>FS İş Takip Uygulaması</h2>
		<a href="/works" class="btn">İşleri Görüntüle</a>
	</div>
</header>

<%- include('partials/footer') %>
