<%- include('partials/header') %>
<ul class="works">
    <% if(works.length > 0){ %>

        <% works.forEach(work=>{ %>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4><%= work.title %></h4>
        <p><%= work.description %></p>
    </li>
    <% }) %>
    <% } else {%>
        <div>Henüz iş girilmedi!</div>
        <% } %>

</ul>

<%- include('partials/footer') %>
