<%- include('partials/header') %>
<ul class="works">
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
    <li class="work">
        <img src="/work.png" alt="works">
        <h4>İş Takip Yazılımı</h4>
        <p>Test Ediliyor...</p>
    </li>
</ul>

<%- include('partials/footer') %>
